include ../mixin.pug
section.container-fluid 
    section.container
        +title("درباره ما") 
        section.row.container-custom-aboutMe  
            div(class="xs-hidden sm-hidden  md-visible  col-md-6 col-l-6  col-xl-6 image")
                img(src="../image/path4.jpg" class="img-fluid"  alt="")
            div(class="col-xs-12 col-sm-12  col-md-6 col-l-6 col-xl-6 about-me")
                h3 درباره ما
                p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                a(href="#") ادامه مطلب ...     