//-  contact section    //


section.container-fluid.container-fluid-custom 
    div.row 
      div.container 
        div(class="col-xs-5 col-sm-4 col-md-7 col-l-6 col-xl-6  contact") 
           a(href="#" class="xs-hidden sm-hidden md-visible") emta137671@gmail.com
           i(class="far fa-envelope xs-hidden sm-hidden md-visible") 
           a(href="#") 09154144503
           i(class="fas fa-phone") 
        div(class="col-xs-7 col-sm-8 col-md-5 col-l-6 col-xl-6 social-media") 
            a(href="#") 
              i(class="far fa-rss")
            a(href="#") 
              i(class="fab fa-instagram")
            a(href="#" id="search") 
              i(class="fab fa-telegram-plane")
            a(href="#" class="xs-hidden sm-hidden md-hidden l-visible") 
              i(class="fab fa-facebook-f")
            a(href="#" class="xs-hidden sm-hidden md-hidden l-visible") 
              i(class="fab fa-twitter")         
            div.underline
      
        
//-  contact section    //