section.container
  div.row.container-custom-counter 
    div.wrapper.col-xs-12.col-sm-12.col-md-6.col-l-3.col-xl-3 
       img(src="../image/a.png" alt="" )
       h2(data-vanilla-counter data-start-at="0" data-end-at="12" data-delay="0") {}
       h1 جوایز
    div.wrapper.col-xs-12.col-sm-12.col-md-6.col-l-3.col-xl-3  
       img(src="../image/b.png" alt="" )
       h2(data-vanilla-counter data-start-at="0" data-end-at="6" data-delay="0") {}
       h1 اساتید
    div.wrapper.col-xs-12.col-sm-12.col-md-6.col-l-3.col-xl-3  
       img(src="../image/d.png" alt="" )
       h2(data-vanilla-counter data-start-at="0" data-end-at="237" data-delay="0") {}
       h1 کاربر فعال
    div.wrapper.col-xs-12.col-sm-12.col-md-6.col-l-3.col-xl-3 
       img(src="../image/c.png" alt="" )
       h2(data-vanilla-counter data-start-at="0" data-end-at="69" data-delay="0") {}
       h1 مقالات



