section.container-fluid.container-custom-cary  
   section
      h3 از یادگیری تا ورود به بازار کار همراه شما هستم
      div.input-field-search  
       input(type="" placeholder="چه چیزی نیاز داری ؟")
       i(class="fas fa-times none")
       i(class="fas fa-search")