include ../mixin.pug
section.container-fluid
   section.container
      +title("دوره های آموزشی") 
      div(class="row container-custom-subjects")      
             h2(class="all-subjects col-xs-12 col-sm-12 col-md-12  col-l-12 col-xl-12 ") همه مطالب 
               i(class="fas fa-angle-left")
             +card-cources("../image/react.png","آموزش React","لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک  و برای شرایط فعلی باشد","54")  
             +card-cources("../image/laravel.png","آموزش laravel","لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک  و برای شرایط فعلی باشد","25")  
             +card-cources("../image/javascript.png","آموزش javascript ","لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک  و برای شرایط فعلی باشد","76")  
             +card-cources("../image/Tailwind.png","آموزش Tailwind","لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک  و برای شرایط فعلی باشد","12")  
             +card-cources("../image/web.png","آموزش web","لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک  و برای شرایط فعلی باشد","589")  
             +card-cources("../image/Nuxt.png","آموزش Nuxt","لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک  و برای شرایط فعلی باشد","23")  
             +card-cources("../image/Flutter.png","آموزش Flutter","لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک  و برای شرایط فعلی باشد","98")  
             +card-cources("../image/linux.png","آموزش linux","لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک  و برای شرایط فعلی باشد","45")  