//- - footer section 

footer.container-fluid 
    section.wrapper
        div.circle-container
          div.circle
        div(class="news xs-hidden sm-hidden md-hidden  l-visible") 
           h2 عضویت در خبرنامه 
           p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
           div 
            input(type="text")
            a(href="#") ارسال 
        div.row.container.footer-wrapper  
            div(class="col-xs-12 col-sm-12 col-md-6 col-l-3 col-xl-3")
               div.desc 
                a(href="#")      
                  i(class="fas fa-graduation-cap")
                  | آموزش نوین
                p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز 
            div(class="col-sm-12 col-xs-12 col-md-6 col-l-3 col-xl-3") 
               div.desc 
                a(href="#") آخرین آموزش      
                ul
                   li
                     i(class="fab fa-node-js")
                     span متخصص جاوا اسکریپت
                   li
                     i(class="fab fa-python")
                     span متخصص پایتون
                   li
                     i(class="fas fa-palette")
                     span متخصص طراحی وب   
                   li
                     i(class="fab fa-react")
                     span متخصص ری اکت   
                   li
                     i(class="fab fa-node")
                     span متخصص نود جی اس    
                   li
                     i(class="fab fa-laravel")
                     span  متخصص نود لارواول    
            div(class="col-sm-12 col-xs-12 col-md-6 col-l-3 col-xl-3") 
               div.desc 
                a(href="#") مطالب جدید       
                ul
                   li
                     i(class="fas fa-angle-left")
                     span ویژگی های جدید ES9
                   li
                     i(class="fas fa-angle-left")
                     span Figma یا AdobeXd
                   li
                     i(class="fas fa-angle-left")
                     span ویژگی های جدید bootstrap5   
                   li
                     i(class="fas fa-angle-left")
                     span آیا jQuery منقضی شده است   
                   li
                     i(class="fas fa-angle-left")
                     span چگونه از pug استفاده کنیم   
                   li
                     i(class="fas fa-angle-left")
                     span  طراحی بهتر با sass  
            div(class="col-sm-12 col-xs-12 col-md-6 col-l-3 col-xl-3")
             div.desc
               a(href="#")  اطلاعات تماس      
               ul
                   li
                     i(class="far fa-envelope")
                     span emta137671@gmail.com
                   li
                     i(class="fas fa-phone")
                     span 09154144503
                   li
                     i(class="fas fa-map-marker-alt")
                     span تهران - ولیعصر کوچه حسینی بن بست لاله پلاک 22 طبقه   
               div(class="input-field l-hidden xl-hidden")  
                   input(type="" placeholder="عضویت در خبرنامه")
                   a(href="#") ارسال
            div(class="col-xs-12 col-sm-12 col-md-12 col-l-12 col-xl-12 copy-right")
              p تمامی حقوق این سایت متعلق به دانشگاه صنعتی شریف می باشد
