
section.container-fluid
   section.row
     section.container.custom-container-header
         header.slideshow-container
           .mySlides
                img(src='../image/board.png' class="img-fluid")
                div.header-title 
                  h1 مبتکر آموزش نوین
                  h3  برگزار کننده دورهای برنامه نویسی دیجیتال مارکتینگ
                  a(href="javascript:void();" onclick="") بیشتر بدانید ... 
           .mySlides
                img(src='../image/class.png'  class="img-fluid")
                div.header-title 
                  h1 بهترین منابع
                  h3  بهترین و کامترین منابع آموزشی را دارا هستیم
                  a(href="javascript:void();" onclick="") بیشتر بدانید ... 
           .mySlides
                img(src='../image/online.png' onclick="" class="img-fluid")
                div.header-title 
                    h1 آموزش آنلاین
                    h3  با برگزاری دوره های غیرحضوری در خانه یادبگیرید
                    a(href="javascript:void();" onclick="") بیشتر بدانید ... 
           div.angle
              a(href="javascript:void();" onclick='plusSlides(-1)') 
                 i(class="fas fa-angle-right")
              a(href="javascript:void();" onclick='plusSlides(1)')           
                 i(class="fas fa-angle-left")   
         div(style='text-align:center')