
section.container-fluid
   section.row
     section.container.custom-container-header
         header.slideshow-container
           .mySlides
                img(src='../image/board.png' class="img-fluid")
                div.header-title 
                  h1 مبتکر آموزش نوین
                  h3  برگزار کننده دورهای برنامه نویسی دیجیتال مارکتینگ
                  a(href="javascript:void();" onclick="") بیشتر بدانید ... 
                div.header-detail 
                  h3 بهترین اساتید 
                  p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آیا می طلبد  
           .mySlides
                img(src='../image/class.png'  class="img-fluid")
                div.header-title 
                  h1 بهترین منابع
                  h3  بهترین و کامترین منابع آموزشی را دارا هستیم
                  a(href="javascript:void();" onclick="") بیشتر بدانید ... 
                div.header-detail 
                  h3 آموزش کودکان 
                  p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال 
           .mySlides
                img(src='../image/online.png' onclick="" class="img-fluid")
                div.header-title 
                    h1 آموزش آنلاین
                    h3  با برگزاری دوره های غیرحضوری در خانه یادبگیرید
                    a(href="javascript:void();" onclick="") بیشتر بدانید ... 
                div.header-detail 
                  h3 آموزش آنلاین 
                  p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت
           div.angle
              a(href="javascript:void();" onclick='plusSlides(-1)') 
                 i(class="fas fa-angle-right")
              a(href="javascript:void();" onclick='plusSlides(1)')           
                 i(class="fas fa-angle-left")   
         div(style='text-align:center')