//-  navBar section    //


nav(class="nav container-fluid" id="myNav")
   section.container 
      section.row 
         div(class="col-xs-12 col-s-12 col-md-12 col-l-12 col-xl-12")
            a(href="#" class="brand responsive-a")
               i(class="fas fa-graduation-cap") 
            a(href="#" class="active xs-hidden sm-hidden md-visible")  خانه   
            a(href="#" class="xs-hidden sm-hidden md-visible ") دوره های آموزشی   
            a(href="#" class="xs-hidden sm-hidden md-visible ")  مطالب
            a(href="#" class="xs-hidden sm-hidden md-visible ") درباره ما
            a(href="#" class="xs-hidden sm-hidden md-visible ") تیم ما   
            div(class="xs-hidden sm-hidden md-visible")
              a(class="btn responsive-a  xs-hidden sm-hidden md-hidden l-visible")
                |  آخرین فعالیت من
                i(class="fas fa-angle-down")
              a(class="btn-login  xs-hidden sm-hidden md-visible")  ورود / ثبت نام 
            div(class="underline xs-hidden sm-hidden md-visible")
            a(href="#" class="responsive-a icon xs-visible sm-visible md-hidden l-hidden  xl-hidden " id="icon")
               i(class="fas fa-bars")

               
//-  navBar section    //
