include ../mixin.pug
section.container-fluid 
    section.container
        +title("تیم ما") 
        section.row.container-custom-aboutMe  
            div(class="col-xs-12 col-sm-12  col-md-5 col-l-5 col-xl-5 about-me")
                h3 تیم ما
                p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                a(href="#") مشاهده رزومه مدرسین ...     
            div(class="xs-hidden sm-hidden  md-visible  col-md-7 col-l-7  col-xl-7 image")
                img(src="../image/path3.jpg" class="img-fluid"  alt="")