@import "./fonts.scss";

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: IRANSans;
  direction: rtl;
  li,
  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  figure {
    position: relative;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  textarea {
    font-family: IRANSans !important;
  }
}
