// variables grid system

$sm-width: 600px;
$xs-width: 600px;
$md-width: 768px;
$l-width: 992px;
$xl-width: 1200px;

// ========================

$height-contact: 3.1rem;
$margin-right-left-container: 1rem;

//colors ==================

$color-light-text: #fff;
$color-dark-text: rgb(46, 46, 46);
$fluid-custom-color: #041121;
$orange: orange;
$gray: #c8d6e5;
$light-gray: #fbf9f9;
$icon-color: rgb(143, 138, 138);
$input-color: rgb(233, 226, 226);
$dark-gray: #576574;
$light-green: rgba(46, 204, 113, 0.5);

// ========================
